@import "~@/styles/_variables.scss";

.entity-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;

  &__avatar {
    border-radius: $border-radius-small;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    overflow: hidden;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
    row-gap: 2px;
    font-size: 13px;
  }

  &__alias {
    color: #909090;
  }
}
