@font-face {
  font-family: PT Sans;
  src: local(PT Sans), url("~@/assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: PT Sans;
  src: local(PT Sans), url("~@/assets/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: 700;
}
