@import "mixins";
@import "fonts";

:root {
  @include font;
}

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#app {
  padding: 70px 30px;

  @media screen and (max-width: 500px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
